
/* GLOBAL STYLES */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/israeliFlag.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* HEADER + NAV */
header {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border: 1px solid white;
    border-radius: 4px;
}

/* MAIN CONTENT */
main {
    padding: 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text-box {
    background: rgb(150, 231, 29);
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.image-box img {
    width: 100%;
    border: 4px solid white;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: rgb(15, 8, 228);
    text-align: center;
    padding: 15px;
    border-top: 2px solid #4d76c7d6;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    }
